@model List<CartViewModel>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Home" asp-action="OpenCart" id="cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge bg-danger" id="cart-count">@Model.Count()</span>
    </a>
</li>